* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 35px;
    margin: auto;
}
.fields{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: auto;
}
.field{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
button{
    padding: 8px 15px;
    background: #54b4fd;
    color: white;
    border: none;
}
th, td{
    text-align: center;
    padding: 10px;
    border: 3px solid #0384e5;
}
th{
    color: white;
    background: #54b4fd;
}
table{
    border-spacing: 0;
    border-collapse: collapse;
}
.baja{
    color: #05bb05;
}
.alta{
    color: #ff0000;
}
.media{
    color: #ffc707;
}